div.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    align-self: center;
    margin-bottom: 1em;
    
}
div.innerMain {
    margin-left: 20em;
}
h2.head {
    font-size: 3em;
}

body p {
    margin-right: 5em;
}
div.gridSingleAndMargin {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    align-self: center;
    margin-bottom: 5em;
    margin-left: 20em;
}
div.matcherType {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    align-self: center;
    margin-bottom: 1em;
}
p.descriptionPopupText {
    margin-left: 2em;
    opacity: 0;
    transition: opacity 1s ease ;
   

}
li.descriptionTextLi {
    padding-bottom: 1em;
    padding-left: 1em;
}
pre.descriptionPopupText {
    margin-left: 3em;
    opacity: 0;
    transition: opacity 1s ease 
}
li.descriptionTextLi:hover .descriptionPopupText {
    opacity: 1;
}

li.descriptionTextLi:hover {
    background-color: #f6f6f6;
   
}
