div.header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 
    align-self: center;
    margin-bottom: 1em;
    
}
div.innerMain {
    margin-left: 20em;
}
h2.head {
    font-size: 3em;
}

body p {
    margin-right: 5em;
}