.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #15c213;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  
  
  @media screen and (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

p.noMargin {
    padding: 0px;
    margin: 0px 0px 0px 0px ;
}
p.noMarginBottom {
    padding: 0px;
    margin-bottom: 0px;
}
.underlined {
  text-decoration-line: underline;
  text-decoration-style: solid ;
  text-decoration-color: black;
}
p.bolded {
  font-weight: bold;
  margin-bottom: 0px;
}
@media screen and (max-width: 950px) {
  p.noMargin {
    margin-top: 1em;
  }
}

img {
  transition: transform .2s;
}
img:hover {
  transform: scale(1.3);
}
.imageText {
  visibility: visible;
}
img:hover + .imageText{
  visibility: hidden;
}